body {
  font-family: Arial, sans-serif;
  background: #fafafa;
  text-align: center;
  margin: 0;
  padding: 0;
}

#uj {
  width: 250px;
  padding: 5px;
}

main ul {
  list-style: none;
  padding: 0;
  width: 300px;
  margin: 20px auto;
}

main li {
  background: white;
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kesz {
  text-decoration: line-through;
  color: gray;
}

main button {
  margin-left: 5px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
}

main a{
  text-decoration: none;
}

main div a {
  border-radius: 5px;
  color: white;
  background-color: #007bff;
  padding: 8px 15px;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}